# Default channel name to redirect in the root page
NEXT_PUBLIC_DEFAULT_CHANNEL=

# Base URL for the frontend
NEXT_PUBLIC_FRONTEND_BASE_URL=

# Base URL of the core translation service
CORE_TRANSLATION_SERVICE_BASE_URL=

# Comma-separated channel IDs to enable translations
TRANSLATION_ENABLED_CHANNEL_IDS=

# Stringified JSON for Firebase config
NEXT_PUBLIC_FIREBASE_CONFIG=

# Twitch client ID for username -> user ID translation
TWITCH_CLIENT_ID=

# Twitch client secret for username -> user ID translation
TWITCH_CLIENT_SECRET=